.activeLabel {
    background-color: cadetblue!important;
    border-color: cadetblue!important;
    font-weight: bold!important;
    color: white!important;
}
.activeLabel:active {
    background-color: cadetblue!important;
    border-color: cadetblue!important;
    font-weight: bold!important;
    color: white!important;
}
.activeLabel:hover {
    background-color: cadetblue!important;
    border-color: cadetblue!important;
    font-weight: bold!important;
    color: white!important;
}
.activeLabel:focus {
    background-color: cadetblue!important;
    border-color: cadetblue!important;
    font-weight: bold!important;
    color: white!important;
}
.label:active {
    background-color: cadetblue!important;
    border-color: cadetblue!important;
    font-weight: bold!important;
    color: white!important;
}
.label:hover {
    background-color: cadetblue!important;
    border-color: cadetblue!important;
    font-weight: bold!important;
    color: white!important;
}